body {
    margin-bottom: 10%;
}
body {
background-color: #F8E9C8;
}
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
  background-color: #513B1C;
}
nav{
  color: #BB7016;
  float: right;
  margin:30px 90px;
}
.nav ul{
  list-style: none;
}
.nav ul li {
  float: left;
  transition: .3s;
}
.nav ul li a{
  text-decoration: none;
  color: white;
  transition: .5;
  font-size: 18px;
  margin-left:16px;
  text-transform: uppercase; 
}
.nav ul li:hover a{
  text-decoration: none;
  color: white;
}
a.button {
		color: BB7016;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        margin: 1px 1px;
}
.header-content{
	margin-top:15%;
	text-align: center;
	font-style: italic;
	color: #513B1C;
}
.header-content h2{
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 1px;
  text-shadow: 2px 0.5px #C07823;
  font-style: italic;
  color: #513B1C;
  text-align: center;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
.column2 {
	font-style: italic;
	font-size: 180%;
	color: #513B1C;
	text-align: left;
	border: solid; 
	padding: 15px;
	margin: 15px;
}
.logo{
	float: left;
}
.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 120px 20px;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	margin-top: 65px;
}
.option img{
	width: 100%;
	height: 300px;
	object-fit: contain;
	cursor: pointer;
	transition: 0.2s ease;
	filter: drop-shadow(0 0 0.75rem #8E785F);
}
.option img:hover{
	transform: scale(1.04);
	
}
.option h3{
	padding: 4px;
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-size: 30px;
}
.option p{
	padding: 2px;
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-size: 15px;
}
.option h2{
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-size: 25px;
}
.option button{
	padding: 5px 30px;
	border: none;
	outline: none;
	background-color: #8E785F;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	transition: 0.2s all;
}
.option button:hover{
	transform:scale(1.04);
}
.popup .overlay {
	position:fixed;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,0.7);
	z-index:1;
	display:none;
}
.popup .content {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) scale(0);
	background:#fff;
	width:450px;
	height:250px;
	z-index:2;
	text-align:center;
	padding:20px;
	box-sizing:border-box;
}
.popup .close-btn {
	cursor:pointer;
	position:absolute;
	right:20px;
	top:20px;
	width:30px;
	height:30px;
	background:#222;
	color:#fff;
	font-size:25px;
	font-weight:600;
	line-height:30px;
	text-align:center;
	border-radius:50;
}
.popup.active .overlay{
	display:block;
}
.popup.active .content{
	transition:all 300ms ease-in-out;
	transform:translate(-50%,-50%) scale(1);
}
.Blog-Post1 p{
	text-align: center;
	margin-top: 40px;
	width: 400px;
	padding:30px;
	box-sizing:border-box;
	font-size: 15px;
	font-family:'Times New Roman', serif;
}
.Blog-Post1 {
	float: left;
}
.Blog-Post1 h1 {
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
}
.giphy-embed{
	margin-top: 120px;
}